    @import url('https://fonts.googleapis.com/css2?family=Onest:wght@300&display=swap');
    *{
        padding: 0;
        margin: 0;
    }
    body {
        max-width: 1600px;
        text-align: center;
        font-family: Onest, Courier New, Good Vibes monospace, Arial, sans-serif;
        font: size 12px;
        margin: 1px;
    }
    
    #content {
        max-width: 1600px;
        margin: 0 auto;
    }
    
    .logo {
        width: 10%;
        padding-left: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
        
    }

    header {
        display: flex;
	    flex-flow: row wrap;
	    align-items: center;
        color: #ffffff;
        background-color:  #0892b4;
    }

    header h1 {
        text-align: center;
        color: white;
        padding-left: 20%;
    }
    nav ul  {
        display: flex;
        flex-direction: row;
        text-align: center;
        color: #ffffff;
        justify-content: space-around;
        background-color: black;
        padding: 10px;
        list-style: none;
    }

    nav ul li a{
        color: #ffffff;
        text-decoration: none;
    }

    #menu li a:hover {
        color: black;
        background-color:  #0892b4;
        transform: scale(1.1);
        transition: 0.3s;
    }

    main1 {
        max-width: 670px;
        margin: 0 auto;
    }

    .hero {
        margin: 10px auto;
        position: relative;
        border: 1px solid rgba(0, 0, 0, .1)
    }
    .hero img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .herolabel {
        position: absolute;
        top: 20px;
        left: 10px;
        background: radial-gradient(#ffff,  #0892b4);
        border: 1px solid rgba(0, 0, 0, .75);
        padding: 0.7rem;
        box-shadow: 0 0 3rem #fff;
        opacity: 0.75;
    }
    /*  */
    .herolabel p {
        margin: 0;
        padding: .25rem;
        font-weight: 700;
        font-size: 2rem;
        font-family: "Great Vibes", serif;
    }
    
    section ul{
        display: block;
        padding: 5px;
        padding: 0;
        margin: 0;
        color: black;
        background-color: white;
        list-style-type: none;
    }
    
    section a{
        color: black;
    }
    
    label {
        /* Uniform size & alignment */
        display: grid;
        width: 90px;
        text-align: right;
    }

    .visits {
        color: #0892b4;
        font-weight: bolder;
        font-size: larger;
    }

    .mobile-menu ul {
        display: none;
    }
    .active {
        color: yellow;
    }
    
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    
    .rivers-card {
        grid-column: 2/8;
        grid-row: 1/7;
        margin-right: 0px;
        border-radius: 5px;
        padding: 0px;
        background-color: rgba(252, 248, 248, 1.00);
        border: 0.2px solid rgb(0, 0, 0);
    }
    
    .camping-card {
        grid-column: 8/11;
        grid-row: 1/7;
        margin: 0px;
        border-radius: 5px;
        background-color: rgba(252, 248, 248, 1.00);
        border: 0.2px solid rgb(0, 0, 0);
    }

    .card-img:hover {
        opacity: .6;
        transform: scale(1.1)
    }
    

    
    .married-card,
    .rocki-card,
    .palmvakk-card,
    .rivers-card,
    .camping-card,
    .rapids-card {
        margin: 0px;
        font-size: 15px;
    }
    
    footer {
        margin-top: 3px;
        background-color:  #0892b4;
        padding: 10px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        font-size: 12px;
    }

    
    iframe {
        width: 100%;
        height: 100%;
    }
    
    footer h3 {
        color: #ffffff;
    }
    
    footer a {
        color: #ffffff;
    }
    
    footer a:hover {
        color: rgb(241, 244, 245);
    }

    h2 {
        margin: 0;
        color: #000000
    }
    
    h3 {
        background-color:  #0892b4;
        color: #ffffff;
        padding: 10px;
        justify-content: center;
        align-items: center;
    }
    
    #hamburger-icon {
        display: none;
        cursor: pointer;
        color: black;
    }
    
    @media screen and (max-width: 600px) {
        #hero,
        main {
            display: block;
            height: auto;
        }

        #hamburger-icon{
            display: block;
            cursor: pointer;
            color: black;
        }

        #hamburger-icon div {
            width: 35px;
            height: 3px;
            background-color: black;
            margin: 6px 0;
            transition: 0.4;
            width: 30px;
        }
        .open .bar1 {
            -webkit-transform: rotate(-45deg) translate(-6px, 6px);
            transform: rotate(-45deg) translate(-6px, 6px);
        }
        .open .bar2 {
            opacity: 0;
        }
        .open .bar3 {
            -webkit-transform: rotate(45deg) translate(-6px, -8px);
            transform: rotate(45deg) translate(-6px, -8px);
        }
        .open .mobile-menu {
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: space-evenly;
        }

        nav ul  {
            display: none;
        }
        
        section ul li{
            display: block;
            color: black;
            background-color: white;
        }

        a:hover {
            background-color:  #0892b4;
        }

        main {
            max-width: 100%;
            margin: 0 auto;
        }
        #hero {
            margin-top: 0;
        }
        #hero-msg {
            margin-top: 0;
        }
        #hero-msg h4 {
            display: none;
        }
        footer {
            padding: 10px;
            flex-direction: column;
        }
    }
