    @import url('https://fonts.googleapis.com/css2?family=Onest:wght@300&display=swap');
    *{
        padding: 0;
        margin: 0;
    }
    body {
        max-width: 1600px;
        font-family: Onest, Courier New, Good Vibes monospace, Arial, sans-serif;
        font: size 12px;
        margin: 1px;
    }
    
    #content {
        max-width: 1600px;
        margin: 0 auto;
    }
    
    .logo {
        width: 10%;
        padding-left: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
        
    }

    header {
        display: flex;
	    flex-flow: row wrap;
	    align-items: center;
        color: #ffffff;
        background-color:  #0892b4;
    }

    header h1 {
        text-align: center;
        color: white;
        padding-left: 20%;
    }
    nav ul  {
        display: flex;
        flex-direction: row;
        text-align: center;
        color: #ffffff;
        justify-content: space-around;
        background-color: black;
        padding: 10px;
        list-style: none;
    }

    nav ul li a{
        color: #ffffff;
        text-decoration: none;
    }

    #menu li a:hover {
        color: black;
        background-color:  #0892b4;
        transform: scale(1.1);
        transition: 0.3s;
    }
    form label.sbs{
        padding: .4rem 0;
      }

    footer {
        margin-top: 3px;
        background-color:  #0892b4;
        padding: 10px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        font-size: 12px;
    }
    form{
        margin: 0 auto;
        width: 600px;
        border: 1px solid  #0892b4;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 10px;
    }
    form fieldset {
        margin: 2rem 0;
        border: 1px solid black;
        border-radius: 10px;
        padding: 0.5rem 2%;
    }
    form legend{
        color: #0892b4;
        margin:0 1rem;
        padding: 0 .5rem;
    }
    form label.top, form div {
        display: block;
        padding-top: 1rem;
        color: rgba(0, 0, 0, 0.804);
        font-size: .8rem;
    }
    form label.top input, form label.top select{
        -webkit-appearance: none;
        display: block;
        font-size: 1rem;
        border:1px solid #0892b4;
        border-radius: 4px;
        padding: .75rem;
        color: #0892b4;
        width: 100%;
        max-width: 80%;
        background-color: #0892b413;
    }
            
    form label.sbs{
        display: block;
        padding: .75rem 0;
        color: #0892b4;
    }
    form input.submitBtn{
        border: none;
        background-color: #0892b4;
        padding: 8px 14px;
        color: white;
        border-radius: 10px;
        margin: 0 2% 2rem 2%;
        width: 70%;
    }
    form label.top input:required{
        border-left: red solid 5px;
    }
    form label.top input:required:valid {
        border-left: green solid 5px;
    }
    
    footer h3 {
        color: #ffffff;
    }
    
    footer a {
        color: #ffffff;
    }
    
    footer a:hover {
        color: rgb(241, 244, 245);
    }

    h2 {
        margin: 0;
        color: #0892b4;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    m p{
        text-align: center;
        margin-bottom: 32%;
        margin-top: 20px;
    }
    
    h3 {
        background-color:  #0892b4;
        color: #ffffff;
        padding: 10px;
        justify-content: center;
        align-items: center;
    }
    
    #hamburger-icon {
        display: none;
        cursor: pointer;
        color: black;
    }
    
    @media screen and (max-width: 600px) {
        form {
            display: block;
            width: 90%;
        }

        #hamburger-icon{
            display: block;
            cursor: pointer;
            color: black;
        }

        #hamburger-icon div {
            width: 35px;
            height: 3px;
            background-color: black;
            margin: 6px 0;
            transition: 0.4;
            width: 30px;
        }
        .open .bar1 {
            -webkit-transform: rotate(-45deg) translate(-6px, 6px);
            transform: rotate(-45deg) translate(-6px, 6px);
        }
        .open .bar2 {
            opacity: 0;
        }
        .open .bar3 {
            -webkit-transform: rotate(45deg) translate(-6px, -8px);
            transform: rotate(45deg) translate(-6px, -8px);
        }
        .open .mobile-menu {
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: space-evenly;
        }

        nav ul  {
            display: none;
        }

        /* MAIN */
     
        m {
            padding: 0 2%;
            min-height: 20rem;
        }

        section ul li{
            display: block;
            color: black;
            background-color: white;
        }

        a:hover {
            background-color:  #0892b4;
        }
         /* FORM */
        form fieldset {
            margin: 2rem 0;
            border: 1px solid black;
            border-radius: 10px;
            padding: 0.5rem 2%;
        }
        form legend{
            color: #0892b4;
            margin:0 1rem;
            padding: 0 .5rem;
        }
        form label.top, form div {
            display: block;
            padding-top: 1rem;
            color: rgba(0, 0, 0, 0.804);
            font-size: .8rem;
        }
        form label.top input, form label.top select{
            -webkit-appearance: none;
            display: block;
            font-size: 1rem;
            border:1px solid #0892b4;
            border-radius: 4px;
            padding: .75rem;
            color: #0892b4;
            width: 100%;
            max-width: 80%;
            background-color: #0892b413;
        }
        
        form label.sbs{
            display: block;
            padding: .75rem 0;
            color: #0892b4;
        }
        form input.submitBtn{
            border: none;
            background-color: #0892b4;
            padding: 8px 14px;
            color: white;
            border-radius: 10px;
            margin: 0 0 2rem 2%;
            width: 96%;
        }
        form label.top input:required{
            border-left: red solid 5px;
        }
        form label.top input:required:valid {
            border-left: green solid 5px;
        }
        m p{
            text-align: center;
            margin-bottom: 85%;
            margin-top: 20px;
        }

        footer {
            padding: 10px;
            flex-direction: column;
        }
    }
