    @import url('https://fonts.googleapis.com/css2?family=Onest:wght@300&display=swap');
    *{
        padding: 0;
        margin: 0;
    }
    body {
        font-family: Onest, Courier New, Good Vibes monospace, Arial, sans-serif;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    h1 {
        font-size: 1.5rem;
        color:  rgb(3, 175, 255);
    }
    
    main {
        margin: 1rem auto;
        border: 1px solid  rgb(3, 175, 255);
        padding: 10rem;
        background-color: #ddd;
        display: flex;
        flex-direction: column;
    }
    
    input,
    button {
        padding: 0.5rem;
    }

    button {
        margin: 0.5rem;
        background-color: rgb(3, 175, 255);
        color: white;
        border-radius: 20px;
    }
    
    .delete {
        width: fit-content;
    }
    
    .input {
        display: flex;
        gap: 1rem;
    }
    
    .list {
        padding: 0.5rem;
    }
    
    ul {
        margin: 1rem;
        list-style: none;
    }
    
    li {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    

    h2 {
        margin: 0;
        color: #000000
    }
    

    
    @media screen and (min-width: 32.5em) {

        main {
		    width: 250px;
        }

        h1 {
            font-size: 2rem;
        }
    
    }
