    @import url('https://fonts.googleapis.com/css2?family=Onest:wght@300&display=swap');
    *{
        padding: 0;
        margin: 0;
    }
    body {
        font-family: Onest, Courier New, Good Vibes monospace, Arial, sans-serif;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    table {
        border-collapse: collapse;
        max-width: 40%;
        height: 10%;
        background-color: #00021A;
        text-align: center;
      }
      
      th, td {
        border: 1px solid rgb(158, 154, 154);
        padding: 10px 0px 10px 0px;
      }
            
      th {
        background-color: #00021A;
        text-align: center;
        padding: 10px 0px 10px 0px;
        font-style: bold;
        color: #CDA204;
        border-top: none;
      }
      th:nth-child(1) {
        background-color: #CDA204;
        border: none;
      }
      tbody tr:nth-child(2) {
        background-color: #ffffff;
      }
      
      tbody tr:nth-child(4) {
        background-color:  #CDA204;
      }
      
      tbody tr:nth-child(odd) {
        background-color: #fff;
      }
      
      caption {
        text-align: center;
        font-size: 1.2em;
        background-color: #CDA204;
        width: 95%;
        color: #00021A;
        padding: 10px 15px 10px 15px;
      }
